.details-enter {
	height: 0px;
	overflow: hidden;
	transform: scaleY(0);
}

.details-enter.details-enter-active {
	height: 36px;
	overflow: visible;
	transform: scaleY(1);
	transition: all 200ms ease-in-out;
}

.details-leave {
	overflow: visible;
	height:36px;
}

.details-leave.details-leave-active {
	height: 0px;
	transform: scaleY(0);
	overflow: hidden;
	transition: all 200ms ease-in-out;
}